[Desktop Entry]
Type=Application
Name=mpv
GenericName=Video player
Comment=Multimedia player
Exec=mpv --player-operation-mode=pseudo-gui --force-window=immediate -- %U
TryExec=mpv
Icon=mpv
Terminal=false
Categories=AudioVideo;Audio;Video;Player;TV;
MimeType=video/mp4;video/webm;video/x-matroska;video/x-msvideo;video/quicktime;video/x-ms-wmv;video/mpeg;video/ogg;audio/mpeg;audio/flac;audio/mp4;audio/ogg;audio/x-wav;
StartupWMClass=mpv
